/* 头部搜索 */
.hm_header{
    position: fixed;                       /*是以窗口最外层的容器计算*/
    left: 0;
    top:0;
    height: 40px;
    width: 100%;
    z-index: 1000;
}
.hm_header>.hm_header_box{
    width: 100%;
    max-width: 640px;                     /*设计图的原因是不让它放大*/
    min-width: 300px;                     /*为了更好地布局*/
    margin: 0 auto;
    background: rgba(201,21,35,0);      /*设置透明度*/
    height:40px ;
    position: relative;
}
.hm_header>.hm_header_box>.icon_logo{
    width: 60px;
    height: 36px;
    position: absolute;
    background-position: 0 -103px;
    top:4px;
    left:10px;
}
.hm_header> .hm_header_box>.login{
    width: 50px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color:rgb(150, 46, 46);
    position:absolute;
    right: 0;
    top:0;
    font-size: 15px;
}
.hm_header>.hm_header_box>form{
    width: 100%;
    padding-left: 75px;
    padding-right: 50px;
    height: 40px;
    position: relative;
}
.hm_header>.hm_header_box>form>input{
    width: 100%;
    height:30px;
    border-radius: 15px;
    margin-top: 5px;
    padding-left: 30px;
}
.hm_header>.hm_header_box>form>.icon_search{
    height: 20px;
    width: 20px;
    position: absolute;
    background-position: -60px -109px;
    top:10px;
    left: 85px;
}
/* 轮播 */
.slider{
    width: 100%;
    height: 300px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

#images{
    /* position: relative;
    background-color:red; */
    width: 100%;
   
}

#images>a{
    transition:  opacity 1s linear;
    /* display: block; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.displayImg{
    /* display: block; */
    opacity: 1;
}

.hiddenImg{
 /* display: none; */
 opacity: 0;
}
img{
    transition: opacity 1s linear;
    opacity: 1;
    width:  100%;
    height: 300px;    
    margin: 0 auto;
}

.btn{
    position: absolute;
    top:50%;
    width: 60px;
    height: 30px;
    background-color: #000;
    opacity: 0.3;
    color: #fff;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    background-position: center;
}

.rightButton{
    right:20px;
}

.leftButton{
    left:20px;
}

.txt-box{
    width: 100%;
    /* background-color: #000; */
    /* opacity: 0.3; */
    height:5px;
    position: absolute;    
    left: 0;
    bottom: 0;
    display: flex;
    z-index: 5;
    transition: height 0.1s linear 0s;
}

.txt-box:hover{
    height: 40px;
}

.txtItem{
    width: 12.5%;
    margin-right: 2px;
    color: #fff;
    text-align: center;    
}
.txtItem:last-child{
    margin:0;
}

.txtItem:hover,.heighlightColor{
    background-color:rgb(252, 164, 2);
}
.normalColor{
    background-color:rgba(0,0,0,0.5);
}


/* 导航栏模块 */
.hm_nav{
    width: 100%;
    background: #fff;
    border-bottom:1px solid #e0e0e0;
}
.hm_nav>ul{
    width: 100%;
    padding: 10px 0;
}
.hm_nav>ul>li{
    width: 25%;
    float:left;
}
.hm_nav>ul>li>a{
    display: block;
}
.hm_nav>ul>li>a>img{
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto;
}
.hm_nav>ul>li>a>p{
    text-align: center;
    color:#666;
    font-size:12px;
    padding: 6px 0;
}


/* 商品主盒子 */
.hm_product{
    padding:0 5px;
}
.hm_product>.product_box{
    width: 100%;
    background-color: #fff;
    margin-top:10px;
    box-shadow: 0 0 1px #e0e0e0;
}
.hm_product>.product_box>.hm_product_box_tit{
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid #e0e0e0;
}
.hm_product>.product_box>.hm_product_box_tit.no_border{
    border-bottom:none;
}
.hm_product>.product_box>.hm_product_box_tit>h3{
    font-weight: normal;
    font-size: 15px;
    padding-left: 20px;
    position: relative;
    color: #666;
}
.hm_product>.product_box>.hm_product_box_tit>h3::before{
    /* 
        display block position: absolute float left
    */
    content: "";
    position: absolute;
    top: 10px;
    left:10px;
    width: 3px;
    height: 12px;
    background: #d8505c;
}

/* 倒计时 */
.p.tie {
    text-align: center;
    font-size: 30px;
  }


  /* 布局 */
  .ad_con{
    width: 100%;
    background: #fff;
    border-bottom:1px solid #e0e0e0;
}
.ad_con>ul{
    width: 100%;
    padding: 10px 0;
}
.ad_con>ul>li{
    width: 25%;
    float:left;
}
.ad_con>ul>li>a{
    display: block;
}
.ad_con>ul>li>a>img{
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
}
.ad_con>ul>li>a>p{
    text-align: center;
    color:#666;
    font-size:15px;
    padding: 6px 0;
}